

<h3> Lista de Artistas</h3>
<ul class="list-group">
  <% @artist.each do |artist|  %>
  <%= link_to artist_path(artist), class: "list-group-item list-group-item-action" do %>
  <h1 class="h6"><%= artist.name %></small></h1>
    <%end%>
  <%end%>

</ul>
  
