
<div class="card text-center">
  <div class="card-header">
    Listas de Bandas e Artistas
  </div>

<p> O Conteúdo da Variável Consulta Será Exibido Abaixo: </p>

<table class="table table-hover" style="text-align:center; margin-top: 10px">
      <thead class="thead-dark">
   <tr > 
     <th>ID</th>
     <th>Artista/Banda</th>
   </tr>
</thead>
   <% @album.each do |album|  %>
   <tr>
      <td> <%= album.id %> </td>
      <td> <%= album.title %> </td>
   <tr>
<%end%>