.container-fluid {

    margin-top: 20px;

}

#s {
  
  margin-bottom: 20px;
 
}

#s1 {
  
  margin-left: 20px;
 
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);


.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.color-li{

  color: #fff;
  
}

.text-negrito {

  font-weight: 1000;
  color: #fff;
}

.text-negrito-black {

  font-weight: 1000;
  color: #000;

}

.elegant-color{
  
  background-color:#2E2E2E!important
}

.elegant-color-dark{
  
  background-color:#212121!important

}

.elegant-color-green{
  
  background-color:#97da8e!important

}

.card{

  border: none!important;
  
}

.featured-number {
  background-color: #000;
  color: orange;
  border-radius: 5px;
}

.btn  {
  height:40px;
}